{% extends 'base.html' %}

{% block title %}
    Remove from Blacklist
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="page-header">
      <img src="/static/assets/img/dots.png" class="dots">
      <img src="/static/assets/img/path4.png" class="path">
        <div class="container align-items-center">
            <center>
                <h1 style="color:orange; font-weight: bold; font-size: 70px; padding-top: 3cm; font-size: 90px;font-family: pangolin;">REMOVE URL</h1>
            </center>
            <div class="accordion" id="accordionExample">
                <form method="post" action="/remove">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Url</label>
                    <input type="text" name="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  </div>
                  <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="checkbox" required>
                    <label class="checkbox" for="checkbox">Confirm to remove the above url from the blacklist</label>
                  </div>
                  <center><input type="submit" class="btn btn-primary" value="Submit"></center>
                </form>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <div class="alert" style="margin-top: 1cm">
                      {% for i in messages %}
                          <center>
                            <span class="closebtn" onclick="this.parentElement.style.display='none';" style="background-color:orange; padding:0.5cm;">&times;  {{i}}</span>
                          </center>
                      {% endfor %}
                      </div>
                    {% endif %}
                {% endwith %}
    </div>
</div>

{% endblock %}

# Confirm to add the above url into blacklist