{% extends 'base.html' %}

{% block title %}
    Feedbacks
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="page-header">
      <img src="/static/assets/img/dots.png" class="dots">
      <img src="/static/assets/img/path4.png" class="path">
        <div class="container align-items-center">
            <center>
                <h1 style="color:gray; font-weight: bold; font-size: 70px; padding-top: 3cm; font-size: 90px;">FEEDBACKS</h1>
            </center>
            <div class="accordion" id="accordionExample">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th  scope="col"><center>S.NO.</center></th>
                            <th  scope="col"><center>NAME</center></th>
                            <th  scope="col"><center>EMAIL</center></th>
                            <th  scope="col"><center>COMMENTS</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in feedbacks %}
                            <tr>
                                {% for j in i %}
                                <td><center>{{j}}</center></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}